html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.header {
  background-color: rgb(175, 238, 238);
  color: "black";
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.card {
  /* padding: 20px; */
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 50px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 20px;
}
p {
  color: #666666;
  line-height: 1.5;
}
ul {
  list-style: none;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
